* {
    margin: 0; 
    padding: 0;
}

body{
    margin: 0 ;
}
#header{
    text-align: center;
    width: 1000px ;
    background-color: aqua ;
    margin-bottom: 20px;
}
#menu{
    float: left ;
    height:900px  ;
    background-color: bisque ;
    width: 150px ;
}

#content {
    background-color: fuchsia ;
    margin-left: 170px ;
}

#footer{
    clear: both ;
    background-color: forestgreen ;
}